<form action="" method="post" enctype="multipart/form-data"><input type="hidden" name="csrfmiddlewaretoken" value="FTMiJq7fseYrYzaqNfVa7NLUI3yqD7wFZnRs6ppj5LKKkw2hWxyKWHhSCzb5BNuB">
    <p> 
        <label for="id_content">Content:</label> <textarea name="content" cols="40" rows="10" id="id_content"></textarea>
    </p>
    <p> 
        <label for="id_deadline">Deadline:</label> <input type="text" name="deadline" class="datepicker" autocomplete="off" id="id_deadline">
    </p>
    <p> 
        <label for="id_priority">Priority:</label> <input type="number" name="priority" value="1" required id="id_priority">
    </p>
    <p> 
        <label for="id_date">Date:</label> <input type="text" name="date" id="id_date">
        <label for="id_time">Time:</label> <input type="text" name="time" id="id_time">
    </p>
    <p> 
    </p>
    <p> 
        <label for="id_repeat_every">Repeat every:</label>
        <select name="repeat_every" id="id_repeat_every">
          <option value="--" selected>--</option>
          <option value="day">day</option>
          <option value="week">week</option>
          <option value="month">month</option>
          <option value="year">year</option>
          <option value="workday">workday</option>
          <option value="weekend">Weekend</option>
          <option value="I">I</option>
          <option value="II">II</option>
          <option value="III">III</option>
          <option value="IV">IV</option>
          <option value="V">V</option>
          <option value="VI">VI</option>
          <option value="VII">VII</option>
        </select>
    </p>
    <p> 
        <label for="id_points">Points:</label> <input type="number" name="points" value="1" required id="id_points">
    </p>
    <p> 
        <label for="id_url">Url:</label> <input type="url" name="url" maxlength="256" id="id_url">
    </p>
    <p> 
        <label for="id_user">User:</label>
        <select name="user" required id="id_user">
          <option value="" selected>---------</option>
          <option value="1">Tėtis</option>
          <option value="2">Albertas</option>
          <option value="3">Gražina</option>
          <option value="4">Aušra</option>
          <option value="5">Laura</option>
        </select>
    </p>
    <input class="btn" type="submit" value="Save" />
</form>
