{% extends "base.html" %}
{% load i18n %}
{% load showbrs from customtemplatetags %}

{% block menu %}
    {% include 'menu.html' with active="accounts" %}
{% endblock %}


{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% get_current_language as lang %}

<table class="table table-striped">
 <thead>
   <tr>
     <th>Numeris</th>
     <th>Suma</th>
     <th>Pavadinimas</th>
     <th>Savininkas</th>
   </tr>
 </thead>
 <tbody>
{% for account in object_list %}
    <tr>
      <td> <a href="{% url 'accounts-detail' account.pk %}"><small>{{ account.pk }}</small></a> </td>
      <td>{{ account.amount }} €</td>
      <td>{{ account.name }}</td>
      <td>{{ account.user.first_name }} {{ account.user.last_name }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}
