{% extends "base.html" %}
{% load i18n %}
{% load showbrs from customtemplatetags %}

{% block menu %}
    {% include 'menu.html' with active="accounts" %}
{% endblock %}


{% block content %}
{% get_current_language as lang %}

<div style="float:right;margin:30px;">
    <form action="{% url 'create-savings-deposit' object.pk %}" method="post">
    {% csrf_token %}
    <select style="width:110px;" name="duration" id="duration">
        <option value="year">metai 4.3%</option>
        <option value="month">mėnuo 2%</option>
        <option value="3months">3 mėnesiai 3%</option>
        <option value="6months">6 mėnesiai 3.5%</option>
        <option value="9months">9 mėnesiai 4%</option>
    </select>

    <br/>

    <p>
    <input style="width:100px;direction: rtl;" placeholder="suma >10€" id="amount" name="amount"></input>
    </p>

    <br/>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <p>
    <button class="btn">Sukurti naują indėlį</button>
    </p>

</form>
</div>

<table class="table table-striped" style="width:40%">
 <tbody>
    <tr>
      <td><b>Numeris</b></td>
      <td>{{ object.pk }}</td>
      <td></td> <td></td> <td></td> <td></td>
    </tr>
    <tr>
      <td><b>Suma</b></td>
      <td>{{ object.amount }} €</td>
      <td></td> <td></td> <td></td> <td></td>
    </tr>

    <tr>
      <td><b>Pavadinimas</b></td>
      <td>{{ object.name }}</td>
      <td></td> <td></td> <td></td> <td></td>
    </tr>

    <tr>
      <td><b>Savininkas</b></td>
      <td>{{ object.user.first_name }} {{ object.user.last_name }}</td>
      <td></td> <td></td> <td></td> <td></td>
    </tr>
  </tbody>

</table>


{% if object.deposits.exists %}
<table class="table table-striped">
 <thead>
   <tr>
     <th>Indėlio numeris</th>
     <th>Suma</th>
     <th>Palūkanos</th>
     <th>Išmokėti</th>
     <th>Pabaiga</th>
     <th></th>
   </tr>
 </thead>
 <tbody>
{% for account in object.deposits.all %}
    <tr>
      <td>{{ account.pk }}</a> </td>
      <td>{{ account.amount }} €</td>
      <td>{{ account.interest_rate }}%</td>
      <td>{{ account.amount_with_interest }} €</td>
      <td>{{ account.ends_at|date:"Y-m-d H:i:s" }}</td>
      <form action="{% url 'terminate-savings-deposit' account.pk %}" method="post">
      <td><button class="btn">Nutraukti</button></td>
      </form>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endif %}


<table class="table table-striped">
 <thead>
   <tr>
     <th>Data</th>
     <th>Pokytis</th>
     <th>Priežastis</th>
   </tr>
 </thead>
 <tbody>
{% for log in object.logs.all %}
    <tr>
      <td><small>{{ log.created_at|date:"Y-m-d H:i:s" }}</small></td>
      <td>{{ log.diff }}</td>
      <td>{{ log.reason }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}
