{% extends "base.html" %}
{% load i18n %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block content %}
<a class='pull-right' href="{% url 'events' %}?all=true">visi</a>
{% for event in events %}
<p style="display: inline;">
<span style="color: {% if event.date.date < today %}#aa4400;{% else %}
    {% if event.date.date >= today and event.date.date <= tomorrow %}#999900;{% else %}#449900;{% endif %}{% endif %}">
        <b >{{ event.date|date:"Y-m-d" }}</b> {% if event.time %}{{ event.time|time:"H:i" }}{% endif %}
    </span>
    <a href='{{ event.url }}'>{{ event.title }}</a> {{ event.comment|truncatechars:170 }}
    <a href="{% url 'event-edit' event.pk %}"><button class="btn btn-small"><i class="icon-pencil"></i></button></a>
    {% if not event.repeat_every == '--' %}
        <form method="post" action="{% url 'event-repeat' event.pk %}" style="display: inline; margin: 0;">
            {% csrf_token %}
            <button class="btn btn-small" type='submit'><i class="icon-repeat"></i></button>
        </form>
    {% else %}
        <form method="post" action="{% url 'event-over' event.pk %}" style="display: inline; margin: 0;">
            {% csrf_token %}
            <button class="btn btn-small"><i class="icon-check"></i></button>
        </form>
    {% endif %}
    <!--<form action="{% url "event-delete" event.pk %}" method="post" style="display: inline;">{% csrf_token %}
        <button class="btn btn-small" action="submit"><i class="icon-remove"></i></button>
    </form>--><br/>
</p>
{% endfor %}

<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.errors }}
    {% for field in form %}
    <p> {{ field.errors }}
    {% if field.name == 'comment' %}
        {{ field.label_tag }} {{ field }}
    {% else %}
        {% if field.name == 'date' %}
            {{ field.label_tag }} {{ field }}
            {{ form.time.label_tag }} {{ form.time }}
        {% else %}
            {% if not field.name == 'time' %}
                {{ field.label_tag }} {{ field }}
            {% endif %}
        {% endif %}
    {% endif %}
    </p>
    {% endfor %}
    <input class="btn" type="submit" value="{% trans "Save" %}" />
</form>

{% endblock %}
