{% extends "base.html" %}
{% load i18n %}
{% load showbrs from customtemplatetags %}

{% block menu %}
    {% include 'menu.html' with active="expenses" %}
{% endblock %}


{% block content %}
{% get_current_language as lang %}

<p>
Šį mėnesį: <a>{{ month_expense }}</a> &nbsp; Maistui: <a>{{ month_food_expense }}</a> &nbsp; Iš viso: <a>{{ total_expense }}</a> 
</p>
{% for obj in object_list %}
    <li><a href="/expense/edit/{{ obj.pk }}/">{{ obj }}</a>
{% endfor %}
</ul>
{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="{% url 'expense-list' %}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.  </span>
        {% if page_obj.has_next %}
            <a href="{% url 'expense-list' %}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %} 

{% endblock %}
