{% extends "base.html" %}
{% load i18n %}
{% load showbrs from customtemplatetags %}

{% block menu %}
    {% include 'menu.html' with active="items" %}
{% endblock %}


{% block content %}
{% get_current_language as lang %}

<p>
    <a href="{% url 'item-list' %}">{% trans "Needed items" %}</a>&nbsp;&nbsp;|&nbsp;
    <a href="{% url 'bought-list' 'bought' %}">{% trans "All items" %}</a>
</p>
{% for item in object_list %}
<p style="display: inline;">
    <small>{{ item.priority }}</small>
    <a href="{% url 'item-priority-increase' item.pk %}"><i class="icon-chevron-up"></i></a>
    {% if item.price %}
    <small>{{ item.price|floatformat }}€</small>
    {% endif %}
    <a href="/item/edit/{{ item.pk }}/">{{ item }}</a>
    {% if not item.already_bought %}
        <form style="display: inline" action="/item/bought/{{ item.pk }}/" method="post">
            {% csrf_token %}
            <button class="btn btn-mini">✓</button>
        </form>
    {% else %}
    <br/>
    {% endif %}
</p>
{% endfor %}

{% endblock %}
