{% extends "base.html" %}
{% load i18n %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block content %}
<div class="offset3 span7 inline">
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="pull-right">{{ form.instance.created|date:"Y-m-d H:i" }}</div>
    {{ form.as_p }}
    <input class="btn" type="submit" value="{% trans "Save" %}" />
</form>
<form action="{% url 'media-delete' form.instance.pk %}" method="post">{% csrf_token %}
    <input class="btn btn-small btn-inverse pull-right" type="submit" value="{% trans "Delete" %}" />
</form>
</div>
{% endblock %}
