{% extends "base.html" %}
{% load i18n %}

{% block menu %}
    {% include 'menu.html' with active='media' %}
{% endblock %}

{% block content %}
{% for media in media_list %}
<p style="display: inline;"><b>{{ media.type }}</b> <a href='{{ media.url }}'>{{ media.title }}</a> {{ media.comment }}
    <a href="{% url 'media-update' media.pk %}"><button class="btn btn-small"><i class="icon-pencil"></i></button></a><br/>
</p>
{% endfor %}

<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <input class="btn" type="submit" value="{% trans "Save" %}" />
</form>

{% endblock %}
