{% extends "base.html" %}
{% load i18n %}
{% load showbrs from customtemplatetags %}

{% block menu %}
    {% include "menu.html" with active="receptai" %}
{% endblock %}


{% block content %}
{% get_current_language as lang %}

<div>
    <p>
        <a style="padding: 5px;" href="{% url "recipe-list" %}"><b>{% trans "All" %}</b></a>&nbsp;
        {% for tag in tags %}
        <a style="padding: 5px;" href="/tag/{{ tag.slug }}/">{{ tag }}</a>&nbsp;
        {% endfor %}
        <a style="padding: 5px;" href="/tag/new/"><b>+</b></a>
    </p>
</div>
<br/>
<div class="accordion">
{% for recipe in object_list %}
<div class="accordion-group" id="accordion2">
    <div class="accordion-heading center-text" style="padding: 7px;">
        <a class="accordion-toggle" data-toggle="collapse"
            data-parent="#accordion2" href="#collapse{{ forloop.counter }}"
            style="display: inline;">
            {{ recipe.title }}</a> <a href="/edit/{{ recipe.pk }}/" style="font-size: 21px; color: black;">&#9998;</a></i>
    </div>
    <div id="collapse{{ forloop.counter }}" class="accordion-body collapse">
        <div class="accordion-inner">
            <h2><center>{{ recipe.title }}</center></h2>

            {% if recipe.url %}
                <h3 style="float: right; padding-right: 30px;"><a href="{{ recipe.url }}">Nuoroda</a></h3>
            {% endif %}

            <h3>Sudėtis</h3>
            <p>{{ recipe.engredients|showbrs|safe }}</p>

            <h3>Paruošimas</h3>
            <p>{{ recipe.preparation|showbrs|safe }}</p>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}


{% block javascript %}
<script>
jQuery('.collapse').collapse('hide');
jQuery('.accordion-toggle').click( function(e) {
    jQuery('.collapse').collapse('hide');
});
</script>
{% endblock %}
