{% extends "base.html" %}
{% load i18n %}

{% block menu %}
    {% include 'menu.html' with active="red" %}
{% endblock %}

{% block content %}
<div class="offset3 span7 inline"></div>
<div class="offset3 span7 inline">
    <ul style="list-style-type: '\27A4&nbsp;'">

        <li><code>deadcode</code> v2 with <code>--fix</code> implementation.</li>


    </ul>
</div>
{% endblock %}
