{% extends "base.html" %}
{% load i18n %}

{% block menu %}
    {% include "menu.html" with active="prenumeratos" %}
{% endblock %}


{% block content %}

<p><a href="https://speakly.me">Speakly</a> - kalbų mokymuisi (lifetime).</p> <br/>
<p><a href="https://Shuffle.dev">Shuffle.dev</a> - drag and drop tinklapių dizainui kurti (lifetime).</p> <br/>
<p><a href="https://Udemy.com">Udemy.com</a> - išpirkta daugybė skirtingų kursų (lifetime). <br/>
    <ul>
    <li>Linux</li>
    <li>AWS</li>
    <li>Google Cloud Provider</li>
    <li>VIM</li>
    <li>Public Speaking</li>
    <li>ReactJS</li>
    </ul>
</p>
<p><a href="https://www.learnvim.com">LearnVim</a> - VIM editing basics (lifetime).</p> <br/>
<p><a href="https://libgen.rs">Library Genesis</a> - el. knygų rinkinys.</p> <br/>

<p>Neaktyvūs:
<ul>
<li> <a href="https://blinkist.com">Blinkist</a> - knygų santraukų klausymui</li>
<li> <a href="#">HeadWay</a> - knygų santraukų klausymui</li>
</ul>
</p>

{% endblock %}
