{% extends "base.html" %}
{% load i18n %}

{% block menu %}
    {% include 'menu.html' with active="add_suggestion" %}
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <input class='btn' type="submit" value="{% trans "Save" %}" />
</form>

{% for obj in obj_list %}
<p style="display: inline;">{{ obj|linebreaksbr }}
    <a href="{% url "suggestion-edit" obj.pk %}"><button class="btn"><i class="icon-pencil"></i></button></a>
    <form action="{% url "suggestion-delete" obj.pk %}" method="post" style="display: inline;">{% csrf_token %}
        <button class="btn" action="submit"><i class="icon-remove"></i></button>
    </form>
</p>
{% endfor %}
{% endblock %}
