{% extends "base.html" %}

{% load i18n %}

{% block menu %}
    {% include 'menu.html' with active="tikslai" %}
{% endblock %}

{% block content %}

<div style="float: right;">
    {% for user in users %}
        <a class="pull-right" href="{% url "task-list" %}?user={{ user.pk }}">{{ user.first_name }}</a><br/>
    {% endfor %}<br/>
    <a class="pull-right" href="#">Istorija</a> 
</div>

<div style="margin: 20px;">
<div id="task-list">
  <task-list></task-list>
</div>
</div>

<!-- 
{# {% for task in tasks %} #}
{# <p style="display: inline;"> #}
{# <span style="color: {% if task.date.date < today %}#aa4400;{% else %} #}
{#     {% if task.date.date >= today and task.date.date <= tomorrow %}#999900;{% else %}#449900;{% endif %}{% endif %}"> #}
{#         <b >{{ task.date|date:"Y-m-d" }}</b> {% if task.time %}{{ task.time|time:"H:i" }}{% endif %} #}
{#     </span> #}
{#     <a href='{{ task.url }}'>{{ task.title }}</a> {{ task.comment|truncatechars:170 }} #}
{#     <a href="{% url 'task-edit' task.pk %}"><button class="btn btn-small"><i class="icon-pencil"></i></button></a> #}
{#     {# {% if not task.repeat_every == '--' %} #} #}
{#     {#     <form method="post" action="{% url 'task-repeat' task.pk %}" style="display: inline; margin: 0;"> #} #}
{#     {#         {% csrf_token %} #} #}
{#     {#         <button class="btn btn-small" type='submit'><i class="icon-repeat"></i></button> #} #}
{#     {#     </form> #} #}
{#     {# {% else %} #} #}
{#         <form method="post" action="{% url 'api-task-done' task.pk %}" style="display: inline; margin: 0;"> #}
{#             {% csrf_token %} #}
{#             <button class="btn btn-small"><i class="icon-check"></i></button> #}
{#         </form> #}
{#     {# {% endif %} #} #}
{#     <form action="{% url "task-delete" task.pk %}" method="post" style="display: inline;">{% csrf_token %} #}
{#         <button class="btn btn-small" action="submit"><i class="icon-remove"></i></button> #}
{#     </form><br/> #}
{# </p> #}
{# {% endfor %} #}
{#  #}
{# <form action="" method="post" enctype="multipart/form-data">{% csrf_token %} #}
{#     {{ form.errors }} #}
{#     {% for field in form %} #}
{#     <p> {{ field.errors }} #}
{#     {% if field.name == 'comment' %} #}
{#         {{ field.label_tag }} {{ field }} #}
{#     {% else %} #}
{#         {% if field.name == 'date' %} #}
{#             {{ field.label_tag }} {{ field }} #}
{#             {{ form.time.label_tag }} {{ form.time }} #}
{#         {% else %} #}
{#             {% if not field.name == 'time' %} #}
{#                 {{ field.label_tag }} {{ field }} #}
{#             {% endif %} #}
{#         {% endif %} #}
{#     {% endif %} #}
{#     </p> #}
{#     {% endfor %} #}
{#     <input class="btn" type="submit" value="{% trans "Save" %}" /> #}
{# </form> #}
-->

{% endblock %}

{% block javascript %}
<script>
const app = Vue.createApp({})
app.config.compilerOptions = { delimiters: ['[[', ']]'], comments: true }

app.mixin({
  data() {return {
    token: "{{ api_token }}"
  }}
})


app.component("task-list", {
  data() {return {
      tasks: {{ tasks }}
      // Make name a primary key.
      // Filter tasks which are relevant today
      // Click to mark task done and show how much points you got
      // Mark task done
      // Allow to create subtask.
      // [
      //     { id: 1, title: "Show task list using Vue" },
      //     { id: 2, title: "Make child components" },
      //     { id: 3, title: "Make crud operations" },
      //     { id: 4, title: "Add buttons for CRUD operations" },
      //     { id: 5, title: "Move template to separate definition" },
      //     { id: 6, title: "Try changing Vue variable using Pyodide" },
      //     { id: 7, title: "On double click allow to modify shown text, area size sould be same as divs" },
      //     // https://vuejs.org/v2/guide/forms.html
      // ]
  }},
  template: `
    <task v-for="task in tasks"
      :key="task.id"
      :id="task.id"
      :task="task"
      :visible="task.type === 'discipline'"
    ></task>
    <br/><br/>
    <task v-for="task in tasks"
      :key="task.id"
      :id="task.id"
      :task="task"
      :visible="task.type !== 'discipline'"
    ></task>
    <add-task></add-task>
    `
})

app.component("task", {
  props: ["id", "task", "visible"],
  template: `
    <p v-show="visible"><button @click.stop.prevent.once="mark_task_done()" style="margin: 5px; color: green;">
        <span v-if="task.done">✅</span>
        <span v-else>&nbsp;&nbsp;&nbsp;</span>
    </button> <span class="pre-line">[[ task.content ]]</span> <small style="color: lightgray;">[[ task.user ]]</small></p>
  `,
  methods: {
      mark_task_done() {
          console.log(this.task);
          this.task.done = true;
          axios
              .post(`http://${window.location.host}/api/tasks/${this.id}/done/`, {}, {headers: {Authorization: `Bearer ${this.token}`}})
              .then(response => (console.log(response)));
      },
  }
})


app.component("add-task", {
  template: `
    <div v-show="!show_form">
        <button @click="toggle_form_show()">Add task</button>
    </div>
    <div v-show="show_form">
        <p><textarea v:model="task.content"></textarea></p>
        <p><button @click="toggle_form_show()">Hide task form</button></p>
    </div>
  `,
  data: function () { return {
      task: {content: ''},
      show_form: false,
  }},
  methods: {
      toggle_form_show() {
          this.show_form = ! this.show_form;
      },
      add_task() {
          console.log(this.task);
          tasks.push(task)
          // axios
          //     .post(`http://${window.location.host}/api/tasks/`, {content: task.content}, {headers: {Authorization: `Bearer ${this.token}`}})
          //     .then(response => (console.log(response)));
      },
  }
})

app.mount('#task-list');
</script>


{% endblock %}

