{% extends "base.html" %}
{% load i18n %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block content %}
<a class='pull-right' href="{% url 'todos' %}?all=true">visi</a>
{% for todo in todos %}
<p style="display: inline;">
    <a href="{% url 'todo-priority-increase' todo.pk %}"><span style="position: relative; top: -2px; right: -16px;"><i class="icon-chevron-up"></i></span></a>
    <a href="{% url 'todo-priority-decrease' todo.pk %}"><span style="position: relative; top: 9px; right: 2px;"><i class="icon-chevron-down"></i></span></a>
    <span style="position: relative; right: 2px;"><small>{{ todo.priority }}</small></span>
    <a href='{{ todo.url }}'>{{ todo.title }}</a> {{ todo.comment|truncatechars:170 }}
    <span style="color: {% if todo.deadline.date < today %}#aa4400;{% else %}
        {% if todo.deadline.date == today %}#999900;{% else %}#449900;{% endif %}{% endif %}">
        {{ todo.deadline|date:"Y-m-d" }}
    </span>
    <a href="{% url 'todo-edit' todo.pk %}"><button class="btn btn-small"><i class="icon-pencil"></i></button></a>
    <a href="{% url 'todo-done' todo.pk %}"><button class="btn btn-small">
        <i class="icon-check"></i>
    </button></a>
    <br/>
</p>
{% endfor %}

<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.errors }}
    {% for field in form %}
    <p> {{ field.errors }}
    {% if field.name == 'comment' %}
        {{ field.label_tag }} {{ field }}
    {% else %}
        {% if field.name == 'date' %}
            {{ field.label_tag }}: {{ field }}
            {{ form.time.label_tag }}: {{ form.time }}
        {% else %}
            {% if not field.name == 'time' %}
                {{ field.label_tag }}: {{ field }}
            {% endif %}
        {% endif %}
    {% endif %}
    </p>
    {% endfor %}
    <input class="btn" type="submit" value="{% trans "Save" %}" />
</form>

{% endblock %}
