{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>{% block title %}{% endblock %}</title>

<!-- Meta Tags -->
<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
<meta name="robots" content="index, follow" />

<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="" />

<!-- Favicon -->
<link rel="shortcut icon" href="/static/img/favicon.ico" />

<!-- CSS -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen,projection" type="text/css" />
<link rel="stylesheet" href="/static/css/style.css" media="screen,projection" type="text/css" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<style>
.pre-line {
  white-space: pre-line;
}
</style>

{% block css %}
{% endblock %}

<!-- RSS -->
<link rel="alternate" href="" title="RSS Feed" type="application/rss+xml" />

<!-- JavaScript -->
<script src="" type="text/javascript"></script>

</head>

<body style="display: none;">
    <div class="content">
        {% block menu %}
        {% include 'menu.html' %}
        {% endblock %}
        <!-- 
        <a href='/lt/'><img src='/static/img/lt.png'></a>
        <a href='/en/'><img src='/static/img/en.png'></a>
        -->
    <div class="row-fluid">

        {% block content %}
        {% endblock %}

    <div class='footer'>
        {% block footer %}
        {% endblock %}
    </div>
    </div>
    </div>

    {% block javascript_dependencies %}
        <script src="https://cdn.jsdelivr.net/npm/vue@3.2.26/dist/vue.global.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script src="http://code.jquery.com/jquery.js" type="text/javascript"></script>
        <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script>
            $(document).ready(function() {
                $(".datepicker").datepicker($.datepicker.regional["lt"]);
                $(".datepicker").datepicker( "option", "dateFormat", "yy-mm-dd" );
                $(".datepicker").datepicker( "option", "firstDay", 1 );
                $("body").css( "display", "block" );
            });
        </script>
    {% endblock %}
    {% block javascript %}
    {% endblock %}
</body>
</html>
