<div class="navbar">
    <div class="navbar-inner">
        <div class="brand" style="float:right;"><a href="{% url 'suggestions' %}">Pasiūlymai</a></div>
        {% if user.is_anonymous %}
        <div class="brand" style="float:right;"><a href="{% url 'admin:login' %}?next=/tasks/"><small>Login</small></a></div>
        {% else %}
        <div class="brand" style="float:right;"><a href="{% url 'admin:logout' %}?next=/tasks/"><small>{{ user.username }}</small></a></div>
        {% endif %}
        <ul class="nav">
            <li class="{% if active == "receptai" %}active{% endif %}">
            <a href="{% url 'recipe-list' %}">Receptai</a>
            </li>
            <li class="{% if active == "add_recipe" %}active{% endif %}">
                <a href="/create/">+</a>
            </li>
            <li class="{% if active == "tikslai" %}active{% endif %}">
                <a href="{% url 'task-list' %}">Tikslai</a>
            </li>


            <!-- <li class="{% if active == "items" %}active{% endif %}"> -->
            <!--     <a href="{% url 'item-list' %}">Pirkiniai</a> -->
            <!-- </li> -->
            <!-- <li class="{% if active == "add-item" %}active{% endif %}"> -->
            <!--     <a href="{% url 'item-create' %}">+</a> -->
            <!-- </li> -->
            <!--{# <li class="{% if active == "expenses" %}active{% endif %}">
                <a href="{% url 'expense-list' %}">Išlaidos</a>
            <li class="{% if active == "add-expense" %}active{% endif %}">
                <a href="{% url 'expense-create' %}">+</a>
            </li>
            </li> #}-->
            <!-- <li class="{% if active == "events" %}active{% endif %}"> -->
            <!--     <a href="{% url 'events' %}">Įvykiai</a> -->
            <!-- </li> -->
            <!-- <li class="{% if active == "todos" %}active{% endif %}"> -->
            <!--     <a href="{% url 'todos' %}">Todo</a> -->
            <!-- </li> -->
            <!-- <li class="{% if active == "media" %}active{% endif %}"> -->
            <!--     <a href="{% url 'media-list' %}">Medija</a> -->
            <!-- </li> -->
            <li class="{% if active == "accounts" %}active{% endif %}">
                <a href="{% url 'accounts-list' %}">Sąskaitos</a>
            </li>

            <li class="{% if active == "prenumeratos" %}active{% endif %}">
                <a href="{% url 'subscription-list' %}">Prenumeratos</a>
            </li>
        </ul>
    </div>
</div>

