/* ---- Body ---- */
body {
    padding-top: 20px;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    max-width: 1060px;
    font-size: 16px;
}

.navbar a:hover, .navbar a:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.125) inset;
}

/* ---- Extra ---- */
.login-form {
    padding: 80px;
    margin:0 auto !important;
    float:none !important;
}

.logo {
    max-width: 200px;
}

.center-text {
    text-align: center;
}


/* ---- Footer ---- */
.footer {
    width: 600px;
    margin: auto;
    text-align: center;
    float: none;
    margin-top: -20px;
}

.attribution {
    text-align: center;
}

textarea {
    width: 500px;
    height: 100px;
}

p {
    margin: 0 !important;
}

label {
    display: inline;
}

.inline {
    display: inline;
}

.inline form {
    display:inline;
    margin: 0px;
    padding: 0px;
}

label[for=id_comment] {
    display: block;
}

#id_title, #id_url {
    width: 600px;
}

#id_date {
    width: 80px;
}
#id_time {
    width: 45px;
}
